{% extends "base.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block header %}Erreur 404{% endblock %}
{% block body %}

<div class="container page-header center">
    <h1>Une erreur s’est produite</h1>
    <p class="center">Nous avons beau chercher, nous ne trouvons pas la page à laquelle vous essayez d’accéder.</p>
    <br>
    <a class="button" href="/">Revenir à l’accueil</a>
</div>

{% endblock %}
