{% extends "base.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block header %}À propos de Nightly{% endblock %}
{% block body %}
<div class="container">
  <h2>Qu’est-ce que Nightly&nbsp;?</h2>

</div>

{% endblock %}
