{% extends "base.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block header %}À propos de Nightly{% endblock %}
{% block body %}
<div class="container">
  <h2>Qu’est-ce que Nightly&nbsp;?</h2>

</div>

<div class="globe">
  <div class="sphere light-blue">
    <div class="sphere dark-blue"></div>
  </div>
</div>

{% endblock %}
